<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
    {% if states is mapping %}
        <h1>States</h1>
        <UL>
        {% for i in states.values()|sort(attribute="name") %}
            <LI>{{ i.id }}: <B>{{ i.name }}</B></LI>
        {% endfor %}
        </UL>
    {% elif states is defined %}
        <h1>State: {{ states.name }}</h1>
        <h3>Cities:</h3>
        <UL>
        {% for j in states.cities|sort(attribute="name") %}
            <LI>{{ j.id }}: <B>{{ j.name }}</B></LI>
        {% endfor %}
        </UL>
    {% else %}
        <h1>Not found!</h1>
    {% endif %}
    </BODY>
</HTML>
